<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--         <meta name="theme-color" content="#fff"> -->
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="keywords" content="digital, products, final, quiz, beetroot, dp">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="shortcut icon" href="./img/favicons/favicon.ico" type="image/x-icon">
        <link rel="icon" sizes="16x16" href="./img/favicons/favicon-16x16.png" type="image/png">
        <link rel="icon" sizes="32x32" href="./img/favicons/favicon-32x32.png" type="image/png">
        <link rel="shortcut icon" href="./img/favicon/favicon.ico">
        <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="./styles/slick.css">
        <link rel="stylesheet" type="text/css" href="./styles/slick-theme.css">
        <link rel="stylesheet" href="./styles/main.min.css">
        <link rel="stylesheet" href="./styles/responsive.css">
        <script src="https://kit.fontawesome.com/0d3712dcf6.js"></script>
        <title>Creative</title>
    </head>
    <body>
        <header>
            <div class="container-wrap">
                <img class="nav-logo" src="./img/logo.png" alt="beet">
                <nav class="clearfix">
                    <ul class="nav-bar">
                        <li><a href="#nowhere">Home</a></li>
                        <li><a href="#nowhere">About</a></li>
                        <li><a href="#nowhere" >Services</a></li>
                        <li><a href="#nowhere">Works</a></li>
                        <li><a href="#nowhere">Contact</a></li>
                    </ul>
                </nav>
                <div class="main-text">
                    <h2 class="main-text__title">Creative digital project</h2>
                    <h3 class="main-text__text">Duis mollis, est non commodo luctus,<br>nisi erat porttior ligula, eget lacinia odio sem nec elit.</h4>
                </div>
            </div>
        </header> 

        <div class="about-us">
            <div class="container-wrap">
                <div class="about-us__card">
                    <img src="./img/aboutus.png" alt="about">
                    <p>about us</p>
                </div>
                <div class="about-us__info">
                    <p>Lorem Ipsum is simply <strong>dummy</strong> text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                    <p><strong>Sed ut perspiciatis unde,</strong> omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi <em>architecto beatae</em>vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit</p>              
                </div>
                <button class="about-us__button">Learn More</button>  
            </div>    
        </div>
        <div class="services">
            <div class="container-wrap">
                <div class="services-columns">
                    <div class="services-columns-grey">
                        <div class="services-columns__content">
                            <img src="./img/graphic.png" alt="graphic">
                            <h4 class="services-columns__content__title">graphic design</h4>
                            <p class="services-columns__content__text">Cras mattis consecterur purus sit amet fermentum.</p>
                        </div>
                    </div>
                    <div>
                        <div class="services-columns__content">
                            <img src="./img/cube.png" alt="cube">
                            <h4 class="services-columns__content__title">web development</h4>
                            <p class="services-columns__content__text">Cras mattis consecterur purus sit amet fermentum.</p>
                        </div>
                    </div>
                    <div class="services-columns__big">
                        <div class="services-columns__content big-content">                     
                            <img src="./img/service.png" alt="service">
                            <h4 class="services-columns__content__title big-title">our services</h4>
                            <p class="services-columns__content__text">"Cras mattis consecterur purus sit amet fermentum."<br>-Borat-</p>
                        </div>   
                    </div>
                    <div>
                        <div class="services-columns__content">
                            <img src="./img/globe.png" alt="globe">
                            <h4 class="services-columns__content__title">seo & marketing</h4>
                            <p class="services-columns__content__text">Cras mattis consecterur purus sit amet fermentum.</p>
                        </div>
                   </div>
                   <div class="services-columns-grey">
                        <div class="services-columns__content">
                           <img src="./img/mobile.png" alt="mobile">
                           <h4 class="services-columns__content__title">mobile development</h4>
                           <p class="services-columns__content__text">Cras mattis consecterur purus sit amet fermentum.</p>
                       </div>
                    </div> 
                </div>
            </div>
        </div>

        <div class="recent-works">
            <div class="container-wrap">
                <div class="recent-works__title">
                    <img src="./img/zub.png" alt="zub">
                    <h2  class="recent-works__title__title">RECENT WORKS</h2>
                </div>
                <div class="recent-works__wrap">
                    <img class="slider-leftarrow" src="./img/arl.png" alt="leftarrow">
                    <img class="slider-rightarrow" src="./img/arr.png">
                    <div id="slider" class="recent-works__slider">
                        <img src="./img/slide1.jpeg">
                        <img src="./img/slide2.jpeg">
                        <img src="./img/slide3.jpeg">
                        <img src="./img/slide4.jpeg">
                    </div>
                </div>
                <button class="recent-works__button">View gallery</button>
            </div>      
        </div>

        <div class="our-team">
            <div class="container-wrap">
                <div class="our-team__title">
                    <img class="our-team__title__img" src="./img/team.png">
                    <h2  class="our-team__title__title">MEET OUR TEAM</h2>  
                </div>
                <div class="our-team-wraper">
                    <div id="slider-team" class="our-team__slider">
                        <div class="our-team__slider__elem"
                             v-for="user in co"
                             :key="user.id">
                            <img :src="user.photo" alt="avatar">
                            <div class="our-team__slider__elem__info">
                                <div class="our-team__slider__elem__info__name">{{user.name}}</div>
                                <div class="our-team__slider__elem__info__position">{{user.position}}</div>
                                <div class="our-team__slider__elem__info__footer">
                                    <a v-for="social in user.social"
                                        class="our-team__slider__elem__info__footer__social"
                                        :key="social.id"
                                        :href="social[1]"><i
                                        :class="social[0]"></i></a>  
                                </div> 
                            </div>    
                        </div>
                    </div>
                </div>
            </div>    
        </div> 

        <div class="get-in-touch">
            <div id="map" class="get-in-touch__map"></div>
            <div class="cover"></div>
            <div class="get-in-touch-form">
                <form class="get-in-touch-form__form">
                    <input class="get-in-touch__form__input" type="text" name="Your name" placeholder="Your name *">
                    <input class="get-in-touch__form__input" type="email" name="email" placeholder="E-mail *">
                    <textarea placeholder="Your Message *"></textarea>
                    <button class="get-in-touch-form__button">send message</button>
                </form>
            </div> 
        </div>

        <footer>
            <div class="container-wrap">
                <div class="footer__info">&copy;2014 <b>tulus</b>driyo. All Rights Reserved.
                    
                </div>
                <ul class="footer__social">
                    <li><a href="https://www.behance.net"><i class="footer__social__icon fab fa-behance"></i></a></li>
                    <li><a href="https://www.linkedin.com"><i class="footer__social__icon fab fa-linkedin-in"></i></a></li>
                    <li><a href="https://www.google.com.ua"><i class="footer__social__icon fab fa-google-plus"></i></a></li>
                    <li><a href="https://www.facebook.com"><i class="footer__social__icon fab fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com"><i class="footer__social__icon fab fa-twitter"></i></a></li>
                </ul>
            </div>   
        </footer>           

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="./js/slick.min.js"></script>
    <script type="text/javascript">
        function initMap() {

        var malang = {
          lat: -7.930592, 
          lng: 112.615161,
        };
        var icon = { 
            url: './img/marker.png'
        };
        var map = new google.maps.Map(document.getElementById('map'), {
          center: malang,
          zoom: 17,
          streetViewControl: false,
          zoomControl: false,
          scaleControl: false,
          disableDefaultUI: true,
          styles: [
            {
                "featureType": "all",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#c1a6d7"
                    }
                ]
            },
            {
                "featureType": "all",
                "elementType": "labels.text.fill",
                "stylers": [
                    {
                        "gamma": 0.01
                    },
                    {
                        "lightness": 20
                    }
                ]
            },
            {
                "featureType": "all",
                "elementType": "labels.text.stroke",
                "stylers": [
                    {
                        "saturation": -31
                    },
                    {
                        "lightness": -33
                    },
                    {
                        "weight": 2
                    },
                    {
                        "gamma": 0.8
                    }
                ]
            },
            {
                "featureType": "all",
                "elementType": "labels.icon",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "landscape",
                "elementType": "geometry",
                "stylers": [
                    {
                        "lightness": 30
                    },
                    {
                        "saturation": 30
                    }
                ]
            },
            {
                "featureType": "poi",
                "elementType": "geometry",
                "stylers": [
                    {
                        "saturation": 20
                    }
                ]
            },
            {
                "featureType": "poi.park",
                "elementType": "geometry",
                "stylers": [
                    {
                        "lightness": 20
                    },
                    {
                        "saturation": -20
                    }
                ]
            },
            {
                "featureType": "road",
                "elementType": "geometry",
                "stylers": [
                    {
                        "lightness": 10
                    },
                    {
                        "saturation": -30
                    }
                ]
            },
            {
                "featureType": "road",
                "elementType": "geometry.stroke",
                "stylers": [
                    {
                        "saturation": 25
                    },
                    {
                        "lightness": 25
                    }
                ]
            },
            {
                "featureType": "water",
                "elementType": "all",
                "stylers": [
                    {
                        "lightness": -20
                    }
                ]
            }
        ]           
    });
    var marker = new google.maps.Marker({
      position: malang,
      map: map,
      icon: icon
    });
    };
    </script>
    <script 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-Conpehdox7DavJ-IGmMAnSj4Q3wi1SQ&callback=initMap" async defer></script>
    <script src="./js/main.min.js"></script>
    </body>
</html>